<h1>Vacation Homes Booking Manager</h1>

<ul>
  <li><a href="/vacation_homes">Current vacation homes</a></li>
  <li><a href="/vacation_homes/new">Create a new listing</a></li>
  <li><a href="/bookings">View bookings</a></li>
</ul>
