<h1>Welcome to Vacation Homes Bookings</h1>

<ul>
  <li><a href="/vacation_homes">View our current vacation homes</a></li>
  <li><a href="/vacation_homes/new_listing">Create a new listing</a></li>
</ul>
