<a href="/vacation_homes">View all Vacation Homes</a>

<h1><%= @vacation_home.listing_name %></h1>

<p>Location: <%= @vacation_home.city %>, <%= @vacation_home.state %>, <%= @vacation_home.country %></p>
